
/* Palette de couleurs du projet */

:root {
    --primary-color: #581b91;
    --secondary-color: #E0E0E0;
    --tertiary-color: #0d0d0d;
}

.bg-primary,
.btn-dark {
    background-color: var(--primary-color) !important;
    border: none;
}

.bg-dark {
    background-color: var(--tertiary-color) !important;
}

.bg-light,
.my-infos {
    background-color: var(--secondary-color) !important;
}

body {
    background-color: var(--tertiary-color) ;
}

/* Mise en forme */

.text-white,
h3 {
    color: var(--secondary-color) ;
}

.text-black {
    color: var(--tertiary-color) ;
}

.text-purple {
    color: var(--primary-color) ;
}


/* Page d'accueil */


.my-infos {
    padding : 1rem ;
    border-radius: 10px;
}

.profile-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 1rem;
}

h1 {
    font-size: 2rem;
}

h2,
.h2 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--primary-color);
    padding-bottom: .5rem;
}
.contact-info, .skills, .education, .experience {
    margin-bottom: 2rem;
}
.contact-info p, .skills p, .education p, .education p i, .experience p {
    margin-bottom: .5rem;
}
.experience h5, .education h5 {
    font-size: 1.2rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: bold;
}

footer div a{
    color: white;
}

.contact,
.contact h2,
.contact div,
.contact div p {
    text-align: center;
}


/* Portfolio */

.img-thumbnail {
    border-color:  var(--primary-color) !important;
    background-color: var(--primary-color) !important;
}

.image-grayscale {
    transition: filter 0.3s ease; /* Ajoute une transition douce */
}

.image-grayscale:hover {
    filter: grayscale(100%);
}

.comment {
    font-size: 0.9rem;
}

/* collapse arrows */

.h2,
.h2:hover,
.h2:active,
.h2:focus,
.h2::selection {
    background-color: transparent;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

.rotate {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}
.rotate-back {
    transform: rotate(0deg);
    transition: transform 0.5s ease;
}
  .section-collapsed {
    display: none;
  }